*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: rgb(26, 26, 29);
  color: #FFF;
  font-family: cursive;
  width: 100vw;
  height: 100vh;
text-transform: capitalize;


}
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

}
.container .head{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;

}
.quiz{
  text-align: center;


}
.quiz h2{
   font-size: 30px;
   margin: 15px;
}
.head .spans span{
display: inline-block;
width: 20px;
height: 20px;
border: 1px solid #098bc2;
border-radius: 50%;
margin-left: 3px;

}
.quiz-container{
  margin-top: 50px;
}
.quiz-container .question-answer{
width: 
100%;
margin: auto;
background-color: #098bc2;
margin-bottom: 10px;
padding: 15px;
border-radius: 2px;
font-size: 25px;
cursor: pointer;
transition: .3s;

}
.quiz-container .question-answer:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#score{
  text-align: center;
  font-size: 24px;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: rgb(96, 65, 3);
  display: block;
  margin-top: 20px;
  border-radius: 20px;
  
}